{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - Barber Shop</title>
    <link rel="stylesheet" href="{% static 'agendamentos/barbearia.css' %}?v=5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <section class="tela">
        <div class="caixa-login">

            <img src="{% static 'agendamentos/bigode.png' %}" class="bigode" alt="Logo da barbearia">

            <h1 class="nome-barbearia">Barber Shop</h1>
            <p class="subtitulo">Seu estilo começa aqui.</p>
            {% if messages %}
                {% for message in messages %}
                    <p class="mensagem">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form method="post" id="formLogin">
                {% csrf_token %}

                <div class="campo">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div>

                <div class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                </div>

                <button type="submit" class="botao-principal">Entrar</button>

            </form>

            <div class="criar-conta-area">
                <p>Não possui uma conta?</p>
                <a href="{% url 'cadastro' %}" class="botao-secundario">Criar conta</a>
            </div>

        </div>
    </section>

    <div id="overlayCarregando" style="display:none; position:fixed; inset:0; z-index:999; flex-direction:column; align-items:center; justify-content:center; background:rgba(11,12,14,0.92);">
        <div class="animacao-barbearia">
            <div class="loading-corte">
                <i class="fa-solid fa-scissors tesoura-loading"></i>
            </div>
        </div>
        <p class="texto-loading">Preparando seu atendimento...</p>
    </div>

    <script>
     document.getElementById('formLogin').addEventListener('submit', function () {
        document.getElementById('overlayCarregando').style.display = 'flex';
     });
    </script>

</body>
</html>